.btn-orange {
    background-color: #f78306 !important;
    color: #ffffff !important;
}

.btn-black {
    background-color: #000000 !important;
    color: #ffffff !important;
}

.btn-white {
    background-color: #ffffff !important;
    color: #000000;
}

.btn-orange-light {
    background-color: #f89f41;
    color: #ffffff;
}

.btn {
    /* width: 160px; */
    /* height: 50px; */
    padding: 1em 2em;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: Inter, sans-serif;
    transition: .1s ease-out transform;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    opacity: .8;
    cursor: pointer;
    transform: translateY(-2px)
}

.text-lg {
    font-size: 18px !important;
}

.arrowdown {
    transition: ease-out .2s transform;
}

.btn:hover .arrowdown {
    transform: translateY(4px);
}

.btn-lg {
    padding: 1em 6em;
    flex-grow: 1;
}

@media screen and (max-width: 525px){
    .btn-lg {
        padding: 1em 3em;
    }
}