.course-2 {
    width: 100%;
    height: auto;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
    padding-bottom: 300px;
}

.course-h1 {
    font-weight: 300;
    font-size: 26px;
}

.course-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.course-content > div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.course-left {
    justify-content: flex-start;
    align-items: flex-start;
}

.course-right {
    justify-content: flex-end;
    align-items: flex-end;
    transform: translateY(80px);
}

.course-content-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.course-icon {
    position: absolute;
    top: 35px;
    left: -85px;
    width: 75px ;
    height: 75px;
    border-radius: 50%;
    background: #f89f41;
    background-image: url(../../assets/images/hacking_icon.svg);
    background-size: auto 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.course2-context {
    width: 80%;
    color: white;
}

@media screen and (max-width: 765px) {
    .course-2 {
        margin-top: 40px;
        height: 750px;
    }
    .course-content {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .course-content > div {
        width: 90% !important;
        align-items: flex-start;
    }
    .course-h1 {
        font-size: 14px;
    }
    .course2-context {
        width: 100%;
    }
    .course-icon {
        width: 60px !important;
        height: 60px !important;
        background-size: auto 40px !important;
        position: unset !important;
        margin-right: 15px;
    }
    .course-left {
        margin: 0 !important;
    }
    .course-right {
        margin-top: 0;
        justify-content: center !important;
        align-items: center !important;
    }
}