.bg-orange {
    background-color: #a35a0bfe !important;
}

.Home {
    margin-top: 78px;
}

.container-fluid {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/course_2_background.svg);
    background-repeat: no-repeat;
    background-position: 100%;
}

.container {
    width: 1300px;
    /* height: auto; */
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 1100px){
    .container {
        width: 100%;
        flex-direction: column;
    }
}